<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422635113271-r36b5ltsb93vo2j2q22hmulgo73bp8l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422635113271-r36b5ltsb93vo2j2q22hmulgo73bp8l6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>422635113271-6j9hjqfeorfi5m41qqvde05cnljti1ou.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzSyfBYEPHMRnFyhD62gG2Km1xJiioj6w</string>
	<key>GCM_SENDER_ID</key>
	<string>422635113271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linktopusApp</string>
	<key>PROJECT_ID</key>
	<string>linktopus-bfe2d</string>
	<key>STORAGE_BUCKET</key>
	<string>linktopus-bfe2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422635113271:ios:6f3d2032b01aa7262568b2</string>
	<key>DATABASE_URL</key>
	<string>https://linktopus-bfe2d-default-rtdb.firebaseio.com</string>
</dict>
</plist>