<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972010493205-h49u97g86n9in748jei2v6gu9bs27n40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972010493205-h49u97g86n9in748jei2v6gu9bs27n40</string>
	<key>API_KEY</key>
	<string>AIzaSyAKLKbN-TjmqOyc7qup7O3KaKbwYEmdB9c</string>
	<key>GCM_SENDER_ID</key>
	<string>972010493205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linktopusApp</string>
	<key>PROJECT_ID</key>
	<string>linktopus-abd56</string>
	<key>STORAGE_BUCKET</key>
	<string>linktopus-abd56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972010493205:ios:20252e44d97b4f541f451c</string>
	<key>DATABASE_URL</key>
	<string>https://linktopus-abd56-default-rtdb.firebaseio.com</string>
</dict>
</plist>